{% extends 'store/base.html' %}

{% load static %}

{% block title %}Home {% endblock %}

{% block link1 %}   {% endblock %}
{% block link2 %}   {% endblock %}


{% block content %}

<div class="container-fluid">

  <section id="hero">
    <div class="hero-card gradient-container">
      <img src="{% static 'assets/images/latest.jpg' %}" alt="">
    </div>
    <div class="hero-text">
      <div>
        <h2>Fall 2024 Runaway Collection</h2>
        <p>
          Shop all latest styles from top Designers
        </p>
      </div>
      <span><a href="" class="btn btn-primary">Shop Now</a></span>
    </div>
  </section>

  <section class="section container" style="margin-top: 10px;">
    <div class="section-container">
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/best-design.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div style="display: block;">
            <h3 class="product-title">Best Suit</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              this is a product description
            </p>
            <p class="product-price" style="padding: 0; margin: 0;">N12,000 <span class="old-price"> N20,000 </span>
            </p>
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/agbada.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3 class="product-title">Best Suit</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              this is a product description
            </p>
            <p class="product-price" style="padding: 0; margin: 0;">N12,000 <span class="old-price"> N20,000 </span>
            </p>
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>
          <div class="action">
            <span id="addToCart"><i class="fa fa-plus"></i></span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/agbada.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3 class="product-title">Best Suit</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              this is a product description
            </p>
            <p class="product-price" style="padding: 0; margin: 0;">N12,000 <span class="old-price"> N20,000 </span>
            </p>
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>
          <div class="action">
            <span id="addToCart"><i class="fa fa-plus"></i></span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/agbada.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3 class="product-title">Best Suit</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              this is a product description
            </p>
            <p class="product-price" style="padding: 0; margin: 0;">N12,000 <span class="old-price"> N20,000 </span>
            </p>
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>
          <div class="action">
            <span id="addToCart"><i class="fa fa-plus"></i></span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/agbada.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3 class="product-title">Best Suit</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              this is a product description
            </p>
            <p class="product-price" style="padding: 0; margin: 0;">N12,000 <span class="old-price"> N20,000 </span>
            </p>
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>
          <div class="action">
            <span id="addToCart"><i class="fa fa-plus"></i></span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/agbada.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3 class="product-title">Best Suit</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              this is a product description
            </p>
            <p class="product-price" style="padding: 0; margin: 0;">N12,000 <span class="old-price"> N20,000 </span>
            </p>
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>
          <div class="action">
            <span id="addToCart"><i class="fa fa-plus"></i></span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/agbada.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3 class="product-title">Best Suit</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              this is a product description
            </p>
            <p class="product-price" style="padding: 0; margin: 0;">N12,000 <span class="old-price"> N20,000 </span>
            </p>
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>
          <div class="action">
            <span id="addToCart"><i class="fa fa-plus"></i></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- COLLECTIONS -->
  <section class="section container">
    <h1 class="title">Our Collections</h1>
    <div class="section-container">
      <div class="card card-bg gradient-container">
        <img src="{% static 'assets/images/best-design.jpeg' %}" alt="images/images (20).jpeg">
        <div class="hero-text collection">
          <div>
            <h2>Fall 2024 Runaway Collection</h2>
            <p>
              Shop all latest styles from top Designers
            </p>
          </div>
          <span><a href="" class="btn btn-primary">Shop Now</a></span>
        </div>
      </div>
      <div class="card card-bg gradient-container">
        <img src="{% static 'assets/images/men-wear (4).jpeg' %}" alt="images/images (20).jpeg">
        <div class="hero-text collection">
          <div>
            <h2>Fall 2024 Runaway Collection</h2>
            <p>
              Shop all latest styles from top Designers
            </p>
          </div>
          <span><a href="" class="btn btn-primary">Shop Now</a></span>
        </div>
      </div>
      <div class="card card-bg gradient-container">
        <img src="{% static 'assets/images/men-wear (2).jpeg' %}" alt="images/images (20).jpeg">
        <div class="hero-text collection">
          <div>
            <h2>Fall 2024 Runaway Collection</h2>
            <p>
              Shop all latest styles from top Designers
            </p>
          </div>
          <span><a href="" class="btn btn-primary">Shop Now</a></span>
        </div>
      </div>
      <div class="card card-bg gradient-container">
        <img src="{% static 'assets/images/agbada.jpeg' %}" alt="images/images (20).jpeg">
        <div class="hero-text collection">
          <div>
            <h2>Fall 2024 Runaway Collection</h2>
            <p>
              Shop all latest styles from top Designers
            </p>
          </div>
          <span><a href="" class="btn btn-primary">Shop Now</a></span>
        </div>
      </div>
    </div>
  </section>

  <!--FEATURED PRODUCTS-->
  <section class="section">
    <h1 class="title">Featured Styles</h1>
    <small class="info">Scroll to the right for more!</small>
    <div class="section-container">
      <a href="/shop.html" style="text-decoration: none;">
        <div class="card">
          <div class="card-img">
            <img src="{% static 'assets/images/agbada.jpeg' %}" alt="images/images (20).jpeg">
          </div>
          <div class="card-content">
            <div style="display: block;">
              <h3 class="product-title">Best Suit</h3>
              <p class="product-description" style="padding: 0; margin: 0;">
                this is a product description
              </p>
              <p class="product-price" style="padding: 0; margin: 0;">N12,000 <span class="old-price"> N20,000 </span>
              </p>
              <div class="product-rating">
                <span class="rating-stars">★★★★☆</span>
                <span class="rating-count">(120 reviews)</span>
              </div>
            </div>

          </div>
        </div>
      </a>

      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/best-design.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div style="display: block;">
            <h3 class="product-title">Best Suit</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              this is a product description
            </p>
            <p class="product-price" style="padding: 0; margin: 0;">N12,000 <span class="old-price"> N20,000 </span>
            </p>
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/agbada.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3 class="product-title">Best Suit</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              this is a product description
            </p>
            <p class="product-price" style="padding: 0; margin: 0;">N12,000 <span class="old-price"> N20,000 </span>
            </p>
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>
          <div class="action">
            <span id="addToCart"><i class="fa fa-plus"></i></span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/agbada.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3 class="product-title">Best Suit</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              this is a product description
            </p>
            <p class="product-price" style="padding: 0; margin: 0;">N12,000 <span class="old-price"> N20,000 </span>
            </p>
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>
          <div class="action">
            <span id="addToCart"><i class="fa fa-plus"></i></span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/agbada.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3 class="product-title">Best Suit</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              this is a product description
            </p>
            <p class="product-price" style="padding: 0; margin: 0;">N12,000 <span class="old-price"> N20,000 </span>
            </p>
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>
          <div class="action">
            <span id="addToCart"><i class="fa fa-plus"></i></span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/agbada.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3 class="product-title">Best Suit</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              this is a product description
            </p>
            <p class="product-price" style="padding: 0; margin: 0;">N12,000 <span class="old-price"> N20,000 </span>
            </p>
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>
          <div class="action">
            <span id="addToCart"><i class="fa fa-plus"></i></span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/agbada.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3 class="product-title">Best Suit</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              this is a product description
            </p>
            <p class="product-price" style="padding: 0; margin: 0;">N12,000 <span class="old-price"> N20,000 </span>
            </p>
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>
          <div class="action">
            <span id="addToCart"><i class="fa fa-plus"></i></span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/agbada.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3 class="product-title">Best Suit</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              this is a product description
            </p>
            <p class="product-price" style="padding: 0; margin: 0;">N12,000 <span class="old-price"> N20,000 </span>
            </p>
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>
          <div class="action">
            <span id="addToCart"><i class="fa fa-plus"></i></span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <h1 class="title">
      Best Selling</h1>
    <div class="section-container">
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/men-wear (4).jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3>Best Suit</h3>
            <p>
              this is a product description
            </p>
            <span><strong>N12,000</strong></span>
          </div>
          <div class="action">
            <span><a href=""><i class="fa fa-plus"></i></a></span>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/men-wear (4).jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3 class="name">Best Suit</h3>
            <p class="description">
              this is a product description
            </p>
            <span class="price"><strong>N12,000</strong></span>
          </div>
          <div class="action">
            <span><a href=""><i class="fa fa-plus"></i></a></span>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/best-design.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3>Best Suit</h3>
            <p>
              this is a product description
            </p>
            <span><strong>N12,000</strong></span>
          </div>
          <div class="action">
            <span><a href=""><i class="fa fa-plus"></i></a></span>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/men-wear (2).jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3>Best Suit</h3>
            <p>
              this is a product description
            </p>
            <span><strong>N12,000</strong></span>
          </div>

          <span class="action"><a href=""><i class="fa fa-plus"></i></a></span>

        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/best-design.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3>Best Suit</h3>
            <p>
              this is a product description
            </p>
            <span><strong>N12,000</strong></span>
          </div>
          <div class="action">
            <span><a href=""><i class="fa fa-plus"></i></a></span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <h1 class="title">Trending</h1>
    <div class="section-container ">
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/agbada.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3>Best Suit</h3>
            <p>
              this is a product description
            </p>
            <span><strong>N12,000</strong></span>
          </div>
          <div class="action">
            <span><a href=""><i class="fa fa-plus"></i></a></span>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/latest.jpg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3 class="name">Best Suit</h3>
            <p class="description">
              this is a product description
            </p>
            <span class="price"><strong>N12,000</strong></span>
          </div>
          <div class="action">
            <span><a href=""><i class="fa fa-plus"></i></a></span>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/men-wear (1).png' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3>Best Suit</h3>
            <p>
              this is a product description
            </p>
            <span><strong>N12,000</strong></span>
          </div>
          <div class="action">
            <span><a href=""><i class="fa fa-plus"></i></a></span>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/agbada.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3>Best Suit</h3>
            <p>
              this is a product description
            </p>
            <span><strong>N12,000</strong></span>
          </div>
          <div class="action">
            <span><a href=""><i class="fa fa-plus"></i></a></span>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/men-wear (2).jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3>Best Suit</h3>
            <p>
              this is a product description
            </p>
            <span><strong>N12,000</strong></span>
          </div>

          <span class="action"><a href=""><i class="fa fa-plus"></i></a></span>

        </div>
      </div>

      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/best-design.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3>Best Suit</h3>
            <p>
              this is a product description
            </p>
            <span><strong>N12,000</strong></span>
          </div>
          <div class="action">
            <span><a href=""><i class="fa fa-plus"></i></a></span>
          </div>
        </div>
      </div>
    </div>
  </section>



</div>
{% endblock %}