{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!-- Bootstrap custom cdn -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  
  <title>{% block title %} {% endblock %} - SwiftCart</title>
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  {% block shop %}
  <link rel="stylesheet" href="{% static 'assets/css/shop.css' %}">{% endblock %}
  {% block profile %}
  <link rel="stylesheet" href="{% static 'assets/css/profile.css' %}">{% endblock %}
  {% block forms %}
  <link rel="stylesheet" href="{% static 'assets/css/forms.css' %}">{% endblock %}
  {% block cart %}
  <link rel="stylesheet" href="{% static 'assets/css/cart.css' %}">{% endblock %}
  {% block dashboard %}
  <link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}">{% endblock %}

</head>

<body>

  <!-- NAVIGATION MENU -->
  {% block header %}
  <header>
    <nav>
      <div class="nav-bar left">
        <div>
          <!--Logo-->
          <a href="/" class="brand">SwiftCart</a>
        </div>

        <ul class="menu nav-links" id="nav-links">
          <!-- <li class="link">
              <a href="/">Home</a>
            </li> -->
          <li class="menu-item link">
            Categories
            <ul class="dropdown">
              {% for category in categories %}
              <li> <a href="{% url 'category_detail' category %}"
                  style="text-decoration: none; color: #222;">{{category}}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="menu-item link">
            <a class="link" href="{% url 'shop' %}">Shop</a>
          </li>
          <li class="menu-item link">
            Products
            <ul class="dropdown">
              <li>Electronics</li>
              <li>Clothing</li>
              <li>Books</li>
              <li>Home Appliances</li>
              <li>Sports & Outdoors</li>
            </ul>
          </li>

          <li class="menu-item link">
            Collections
            <ul class="dropdown">
              <li>Electronics</li>
              <li>Clothing</li>
              <li>Books</li>
              <li>Home Appliances</li>
              <li>Sports & Outdoors</li>
            </ul>
          </li>
          <li class="menu-item link contact">
            <a class="link" href="/checkout.html">Blog</a>
          </li>
          <li class="menu-item link contact">
            <a class="link" href="/checkout.html">Contact</a>
          </li>
          {% if request.user.is_authenticated %}

          {% if request.user.is_superuser %}
          <li class="menu-item link">
            <span><a href="{% url 'dashboard' %}" class="link">Dashboard</a></span>
          </li>
          {% endif %}
          <li class="menu-item link">
            <span><a href="{% url 'logout' %}" class="link">Logout</a></span>
          </li>&nbsp;&nbsp;&nbsp;
          <!-- <li class="menu-item link">
            <span><a href="{% url 'profile' request.user %}" class="link btn">{{request.user}}</a></span>
          </li> -->
          {% else %}
          <li class="menu-item link">
            <span><a href="{% url 'login' %}" class="link">Login</a></span>
          </li>&nbsp;&nbsp;&nbsp;
          <li class="menu-item">
            <span><a href="{% url 'register' %}" class="link">Register</a></span>
          </li>
          {% endif %}
        </ul>
      </div>
      {% if messages %}
      {% for message in messages %}
      <div
        style="padding: 5px; background-color: #9adef8; color: #10a8ee; display: block; min-width: 200px; border-radius: 5px;"
        id="msg-modal">
        <p id="message"> {{message}}</p>
        
      </div>
      {% endfor %}
      {% endif %}

      <div class="nav-bar right">

        <div class="actions" style="display: flex; justify-content: space-between; gap: 10px;">
          <span class="search-icon action">
            <a href="{% url 'search' %}">
              <i class="fas fa-search" id="searchbtn"></i>
            </a>
          </span>
          <span class="action">
            <a href="{% url 'cart' %}">
              <i class="fas fa-heart"></i>
            </a>
          </span>
          <span class="action">
            <a href="{% url 'cart' %}">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </span>
          <span class="action">
            <a href="{% url 'profile' request.user %}">
              <i class="fas fa-user"></i>
            </a>
          </span>
          <div class="action toggler">
            <span id="opennav" onclick="openNav()">
              <i class="fas fa-bars"></i>
            </span>
            <span id="closebtn" onclick="closeNav()" style="display: none;">&times;</span>
          </div>
          <div>


          </div>
        </div>
      </div>
    </nav>
  </header>
  {% endblock %}

  {% block content %}

  {% endblock %}

  {% block footer %}
  <footer class="footer">
    <div class="footer-container">
      <!-- Company Logo and About Section -->
      <div class="footer-section about">
        <h2>SwiftCart</h2>
        <p>Your go-to platform for the latest trends in fashion, connecting designers, tailors, and fashion enthusiasts.
        </p>
      </div>

      <!-- Navigation Links -->
      <div class="footer-section links">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>

      <!-- Contact Info -->
      <div class="footer-section contact">
        <h3>Contact Us</h3>
        <p><strong>Address:</strong> 123 Fashion Avenue, Makurdi, Benue State</p>
        <p><strong>Phone:</strong> +234 123 456 789</p>
        <p><strong>Email:</strong> info@swiftcart.com</p>
      </div>

      <!-- Social Media Links -->
      <div class="footer-section social">
        <h3>Follow Us</h3>
        <a href="#"><i class="fas fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
    <!-- Copyright -->
    <div class="footer-bottom">
      <p style="color: #2ecc71; padding: 0; margin: 0;">&copy; 2024 SwiftCart | All Rights Reserved</p>
      <p style="color: #2ecc71; padding: 0; margin: 0;">Powered by <a href="https://ezydevs.vercel.app" target="_blank"
          style="color: #2ecc71;">Ezydevs</a></p>
    </div>
  </footer>
  {% endblock %}


  <!-- Bootstrap JavaScript (with Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpd6aqTeGh0kBhWZY4PTZT2ylH8laC2xLpz5rs9czjR0VVnDa"
    crossorigin="anonymous"></script>

  <script src="{% static 'assets/js/script.js' %}"></script>
  <script src="{% static 'assets/js/msgModal.js' %}"></script>
</body>

</html>