{% extends 'store/base.html' %}
{% load static %}


{% block title %}Home{% endblock %}

{% block forms %} {% endblock %}
{% block dashboard %} {% endblock %}
{% block profile %} {% endblock %}
{% block cart %} {% endblock %}
{% block shop %} {% endblock %}

{% block content %}
<div style="padding: 20px; color: #222; margin-top: 40px;">
    <h1>{{ collection.name }}</h1>
</div>
<main>
    <section class="section container" style="margin-top: 10px;">
        
        <div class="section-container">
            {% for product in collection_items %}
            <a href="{% url 'product' product.product.id %}" style="text-decoration: none; color: #222;">
                <div class="card" style="position: relative; cursor: pointer;">
                    <div class="card-img">
                        <img src="{{ product.product.image.url }}" alt="{{ product.name }}">
                    </div>

                    {% if product.product.is_sale %}
                    <div class="sale-badge"
                        style="position: absolute; background-color: #cc2ecc; color: #f4f4f4; right: 5px; top: 5px; padding: 3px; border-radius: 5px; width: 50px; text-align: center;">
                        <span>Sale</span>
                    </div>
                    {% endif %}

                    <div class="card-content" style="margin-top: 2px;">
                        <a href="{% url 'product' product.product.id %}" style="text-decoration: none; color: #222;">
                            <div>
                                <h3 class="product-title" style="padding: 0; margin: 0; font-size: 13px;">
                                    {{ product.product.name }}</h3>
                                <p class="product-description" style="padding: 0; margin: 0;">
                                    {{ product.product.description|truncatewords:4 }}..
                                </p>
                                {% if product.product.is_sale %}
                                <p class="product-price" style="padding: 0; margin: 0;">N{{ product.product.sale_price
                                    }} <span class="old-price"> N{{ product.product.price }} </span></p>
                                {% else %}
                                <p class="product-price" style="padding: 0; margin: 0;">N{{ product.product.price }}
                                </p>
                                {% endif %}
                            </div>
                        </a>
                        <div style="display: flex; flex-direction: column; gap: 5px;">
                            <div class="action" style="padding: 5px; width: 35px; height: 30px;">
                                <span id="addToCart" class="add-to"><i class="fa fa-plus"></i></span>
                            </div>
                            <div class="action" style="padding: 5px; width: 35px; height: 30px;">
                                <span id="addToWaitList" class="add-to"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}