{% extends 'store/base.html' %}
{% load static %}


{% block title %}Home{% endblock %}

{% block forms %} {% endblock %}
{% block dashboard %} {% endblock %}
{% block profile %} {% endblock %}
{% block cart %} {% endblock %}
{% block shop %} {% endblock %}
{% block content %}

<div class="container-fluid">
  <style>
    
    .button {
        width: 40px;
        height: 25px;
        margin: 0 5px;
        background-color: #0073bb;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        text-align: center;
    }
</style>
 
  <section id="hero">
    <div class="hero-card gradient-container">
      <img src="{% static 'assets/images/latest.jpg' %}" alt="">
    </div>
    <div class="hero-text">
      <div>
        <h2>Fall 2024 Runaway Collection</h2>
        <p>
          Shop all latest styles from top Designers
        </p>
      </div>
      <span><a href="" class="btn btn-primary">Shop Now</a></span>
    </div>
  </section>
  
  <section class="section container" style="margin-top: 10px;">
    <div class="section-container">
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/best-design.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div style="display: block;">
            <h3 class="product-title">Best Suit</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              this is a product description
            </p>
            <p class="product-price" style="padding: 0; margin: 0;">N12,000 <span class="old-price"> N20,000 </span>
            </p>
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/agbada.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3 class="product-title">Best Suit</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              this is a product description
            </p>
            <p class="product-price" style="padding: 0; margin: 0;">N12,000 <span class="old-price"> N20,000 </span>
            </p>
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>
          <div class="action">
            <span id="addToCart"><i class="fa fa-plus"></i></span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/agbada.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3 class="product-title">Best Suit</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              this is a product description
            </p>
            <p class="product-price" style="padding: 0; margin: 0;">N12,000 <span class="old-price"> N20,000 </span>
            </p>
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>
          <div class="action">
            <span id="addToCart"><i class="fa fa-plus"></i></span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/agbada.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3 class="product-title">Best Suit</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              this is a product description
            </p>
            <p class="product-price" style="padding: 0; margin: 0;">N12,000 <span class="old-price"> N20,000 </span>
            </p>
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>
          <div class="action">
            <span id="addToCart"><i class="fa fa-plus"></i></span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="{% static 'assets/images/agbada.jpeg' %}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <div>
            <h3 class="product-title">Best Suit</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              this is a product description
            </p>
            <p class="product-price" style="padding: 0; margin: 0;">N12,000 <span class="old-price"> N20,000 </span>
            </p>
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>
          <div class="action">
            <span id="addToCart"><i class="fa fa-plus"></i></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- COLLECTIONS -->
  <section class="section container">
    <h1 class="title">Our Collections</h1>
    <div class="section-container">
      {% for collection in collections %}
      <div class="card card-bg gradient-container">
        <img src="{{collection.image.url}}" alt="images/images (20).jpeg">
        <div class="hero-text collection">
          <div>
            <h2>{{collection.name}}</h2>
            <p>
              {{collection.description}}
            </p>
          </div>
          <span><a href="{% url 'collection_detail' collection.slug %}" class="btn">View Collection</a></span>
        </div>
      </div>
      {% endfor %}
      
    </div>
  </section>

  <!--FEATURED PRODUCTS-->
  <section class="section">
    <h1 class="title">Featured Styles</h1>
    <small class="info">Scroll to the right for more!</small>
    <div class="section-container">
    
        {% for product in featured_products reversed %}
      <div class="card">
        <div class="card-img">
          <img src="{{product.image.url}}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <a href="{% url 'product' product.id %}" style="text-decoration: none; color: #222;">
          <div>
            <h3 class="product-title">{{product}}</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              {{product.description|truncatewords:10}}..
            </p>
            {% if product.is_sale%}
            <p class="product-price" style="padding: 0; margin: 0;">N{{product.sale_price}} <span class="old-price"> N{{product.price}} </span></p>
              {% else %}
              <p class="product-price" style="padding: 0; margin: 0;">N{{product.price}} </p>
            {% endif %}
            
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>
          </a>
          <div class="action">
            <span id="addwaitlist"><i class="fa fa-heart"></i></span>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </section>

  <section class="section">
    <h1 class="title">
      Best Selling</h1>
    <div class="section-container">
      {% for product in best_selling_products reversed %}

      <div class="card">
        <div class="card-img">
          <img src="{{product.image.url}}" alt="images/images (20).jpeg">
        </div>
        <div class="card-content">
          <a href="{% url 'product' product.id %}" style="text-decoration: none; color: #222;">
          <div>
            <h3 class="product-title">{{product}}</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              {{product.description|truncatewords:4}}..
            </p>
            {% if product.is_sale%}
            <p class="product-price" style="padding: 0; margin: 0;">N{{product.sale_price}} <span class="old-price"> N{{product.price}} </span></p>
              {% else %}
              <p class="product-price" style="padding: 0; margin: 0;">N{{product.price}} </p>
            {% endif %}
            
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>
          </a>
          <div class="action">
            <span id="addwaitlist"><i class="fa fa-heart"></i></span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="section">
    <h1 class="title">Trending</h1>
    <div class="section-container ">
      {% for product in trending_products reversed %}
      <div class="card">
        <div class="card-img">
          {% if product.image %}
          <img src="{{product.image.url}}" alt="images/images (20).jpeg">
          {% endif %}
        </div>
        <div class="card-content">
          <a href="{% url 'product' product.id %}" style="text-decoration: none; color: #222;">
          <div>
            <h3 class="product-title">{{product}}</h3>
            <p class="product-description" style="padding: 0; margin: 0;">
              {{product.description|truncatewords:2}}..
            </p>
            {% if product.is_sale%}
            <p class="product-price" style="padding: 0; margin: 0;">N{{product.sale_price}} <span class="old-price"> N{{product.price}} </span></p>
              {% else %}
              <p class="product-price" style="padding: 0; margin: 0;">N{{product.price}} </p>
            {% endif %}
            
            <div class="product-rating">
              <span class="rating-stars">★★★★☆</span>
              <span class="rating-count">(120 reviews)</span>
            </div>
          </div>
          </a>
          <div class="action">
            <span id="addwaitlist"><i class="fa fa-heart"></i></span>
          </div>
        </div>
      </div>
{% endfor %}
      
    </div>
  </section>

</div>
{% endblock %}