{% extends 'store/base.html' %}

{% load static %}

{% block title %}Product - {{product}} {% endblock %}

{% block forms %} {% endblock %}
{% block dashboard %} {% endblock %}
{% block profile %} {% endblock %}
{% block cart %} {% endblock %}
{% block shop %} {% endblock %}

{% block content %}
<br>
<br>
<br><br>
<div class="container-fluid">
    
        <div style="padding: 5px; background-color: #9adef8; color: #10a8ee; display: none; border-radius: 5px;" id="msg-modal">
            <p id="message"></p>
        </div>
        
    <div class="product-detail-page">

        <div style="display: flex; justify-content: space-between;" class="product-detail">
            <div class="product-images product-card">
                {% if product.image %}
                <img src="{{product.image.url}}" alt="images/images (20).jpeg">
                {% endif %}
            </div>
            <div class="product-info">
                <h1 class="product-title">{{product}}</h1>
                {% if product.is_sale%}
                <p class="product-price" style="padding: 0; margin: 0;">N{{product.price}} <span class="old-price">
                        N{{product.sale_price}} </span></p>
                {% else %}
                <p class="product-price" style="padding: 0; margin: 0;">N{{product.price}} </p>
                {% endif %}
                <div class="product-rating">
                    <span class="rating-stars">★★★★☆</span>
                    <span class="rating-count">(120 reviews)</span>
                </div>

                <p class="product-description">{{product.description}}.</p>

                <div class="product-variations">
                    <label for="color">Color:</label>
                    <select id="color">
                        <option value="red">Red</option>
                        <option value="blue">Blue</option>
                        <option value="green">Green</option>
                    </select>
                </div>
                <style>
                    .quantity {
                        display: flex;
                        align-items: center;
                        margin: 5px 0;
                    }

                    .quantity button {
                        width: 25px;
                        height: 25px;
                        margin: 0 5px;
                        background-color: #0073bb;
                        color: white;
                        border: none;
                        border-radius: 3px;
                        cursor: pointer;
                    }

                    .button {
                        width: 40px;
                        height: 25px;
                        margin: 0 5px;
                        background-color: #0073bb;
                        color: white;
                        border: none;
                        border-radius: 3px;
                        cursor: pointer;
                        text-align: center;
                    }

                    .__modal {
                        padding: 10px 20px;
                        width: 230px;
                        background-color: #d1ecf1;
                        color: #0c5460;
                        max-height: 40px;
                        /* display: flex; */
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        left: 40%;
                        top: 8%;
                        border-radius: 8px;
                        margin: 20px auto;
                        transition: all ease-in-out 0.2s;

                        display: none;

                    }
                </style>
                


                <div class="quantity">
                    <label for="quantity-{{product.id}}">quantity:</label>
                    <input type="number" name="quantity" id="quantity" min="1" value="1" class="button">
                    <!-- <button onclick="updateQuantity(-1, 20)">-</button>
                        <span id="quantity">1</span>
                        <button onclick="updateQuantity(1, 20)">+</button> -->
                </div>

                <div class="cta-buttons">
                    <button type="submit" class="add-to-cart btn" value="{{product.id}}" id="add-to-cart">Add to
                        Cart</button>
                    <button class="buy-now btn"><a href="{% url 'home' %}" style="text-decoration: none; color: #fafafa;">Home</a></button>
                </div>

                <script>
                    $(document).on('click', '#add-to-cart', function (e) {
                        e.preventDefault();
                        $.ajax({
                            type: 'POST',
                            url: "{% url 'add_to_cart' %}",
                            data: {
                                product_id: $('#add-to-cart').val(),
                                quantity: $('#quantity').val(),
                                csrfmiddlewaretoken: '{{csrf_token}}',
                                action: 'post'
                            },
                            success: function (response) {
                                console.log(response)
                                document.getElementById('message').textContent = response.message;
                                document.getElementById('msg-modal').style.display = 'block';
                            },
                            error: function (xhr, errmsg, err) {

                            }
                        })
                    })
                </script>
                <div class="product-stock">
                    {% if product.in_stock == 1 %}
                    <p>In Stock: <span class="stock-quantity">{{product.in_stock}} item</span></p>
                    {% else %}
                    <p>In Stock: <span class="stock-quantity">{{product.in_stock}} items</span></p>
                    {% endif %}
                </div>

                <div class="product-shipping">
                    <p>Free Shipping on Orders over $50</p>
                </div>

                <div class="social-sharing">
                    <button><a href="https://facebook.com/"></a>Share on Facebook</button>
                    <button>Share on Twitter</button>
                </div>
            </div>
        </div>

        <script>
            function addToCart() {
                document.getElementById('modal').style.display = "block";
            }
            let quantity = 1;
            let unitPrice = 20;

            function updateQuantity(amount, price) {
                quantity += amount;
                if (quantity < 1) quantity = 1; // Prevent going below 1
                document.getElementById('quantity').textContent = quantity;
                document.getElementById('subtotal').textContent = quantity * price;
                document.getElementById('total-subtotal').textContent = quantity * price;
                document.getElementById('total-price').textContent = quantity * price + 5; // Assuming $5 shipping
            }

            function removeItem(button) {
                button.parentElement.remove();
            }

        </script>

        <div class="related-products">
            <h3>Related Products</h3>
            <section class="section">
                <div class="product-carousel section-container">

                    {% for product in related_products %}
                    <div class="card">
                        <div class="card-img">
                            {% if product.image %}
                            <img src="{{product.image.url}}" alt="images/images (20).jpeg">
                            {% endif %}
                        </div>
                        <div class="card-content">
                            <a href="{% url 'product' product.id %}" style="text-decoration: none; color: #222;">
                                <div>
                                    <h3 class="product-title">{{product}}</h3>
                                    <p class="product-description" style="padding: 0; margin: 0;">
                                        this is a product description
                                    </p>
                                    {% if product.is_sale %}
                                    <p class="product-price" style="padding: 0; margin: 0;">N{{product.sale_price}}
                                        <span class="old-price"> N{{product.price}} </span>
                                    </p>
                                    {% else %}
                                    <p class="product-price" style="padding: 0; margin: 0;">N{{product.price}} </p>
                                    {% endif %}

                                    <div class="product-rating">
                                        <span class="rating-stars">★★★★☆</span>
                                        <span class="rating-count">(120 reviews)</span>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    {% endfor %}

                </div>
            </section>
        </div>
    </div>

</div>
{% endblock %}

<script src="{% static 'assets/js/cart.js' %}"></script>

{% block footer %}
{% endblock %}