{% extends 'store/base.html' %}

{% block title %}Login {% endblock %}

{% block dashboard %} {% endblock %}
{% block profile %} {% endblock %}
{% block cart %} {% endblock %}
{% block shop %} {% endblock %}

{% block content %}

<div class="auth-container" style="margin-top: 200px;">
    <!-- Login Form -->
    <div class="auth-box">
      <h2>Reset Password</h2>
     
      
      <!-- {% if form.error_messages %}
      <label for="login-email" style="color: red; text-align: center;">{{form.error_messages}}</label>
      {% endif %} -->
      <form action="{% url 'password-reset' request.user %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          {{form.as_p}}
          {{form.label}}
        </div>
        <div class="form-group">
          {% if form.error_messages %}
          {% for error in form.errors %}
          <label for="login-email" style="color: red; text-align: center;">{{error}}</label>
          {% endfor %}
          {% endif %}
            {% if messages %}
            {% for message in messages %}
            <label for="login-email" style="color: red; text-align: center;">{{message}}</label>
            {% endfor %}
            {% endif %}
            
        </div>
        

        <button type="submit" class="btn save-btn">Update Password</button>
    </form>
      <p class="switch-link"> <a href="#register">Back</a></p>
    </div>
  </div>
{% endblock %}


{% block footer %}

{% endblock %}