{% extends 'store/base.html' %}

{% load static %}
{% block title %}Profile | {{request.user}} {% endblock %}

{% block dashboard %} {% endblock %}
{% block cart %} {% endblock %}
{% block shop %} {% endblock %}


{% block content %}
<main class="main-content" style="width: 80%; margin-top: 130rem;">

    <section class="settings">
        <div class="settings-container">
            <h2>Settings</h2>
            {% for message in messages %}
            <div style="padding: 10px; background-color: #8acbf7; color: #0464a3;">
                <p>{{message}}</p>
                
            </div>
            {% endfor %}
            <!-- Profile Settings -->
            <div class="settings-section">
                <h3>Profile</h3>
                <center>
                    {% if request.user.profile.photo %}
                    <img src="{{request.user.profile.photo.url}}" alt="Profile Picture" class="profile-pic" style="object-fit: cover;">
                    {% else %}
                    <img src="{% static 'assets/images/best-design.jpeg' %}" alt="Profile Picture" class="profile-pic" style="object-fit: cover;">
                    {% endif %}
                </center>
                <form action="{% url 'update_profile' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        
                       {{ form.as_p }}
                       <!-- {% if form.photo %}
                       <div class="file-input-container">
                        {{ form.photo.label }}
                        {{ form.photo }}
                        {% endif %} -->
                        <!-- </div> -->
                    </div>
                    
                   
                    <button type="submit" class="btn save-btn">Save Changes</button>
                </form>
            </div>
            <div class="settings-section">
                <h3>Shipping info</h3>
            <form action="{% url 'update_shipping_info' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    
                   {{ shipping_Form.as_p }}
                   <!-- {% if form.photo %}
                   <div class="file-input-container">
                    {{ form.photo.label }}
                    {{ form.photo }}
                    {% endif %} -->
                    <!-- </div> -->
                </div>
                
               
                <button type="submit" class="btn save-btn">Save Changes</button>
            </form>
        </div>
            
            <!-- Theme Settings -->
            <div class="settings-section">
                <h3>Theme</h3>
                <div class="form-group">
                    <label class="inline-label">
                        <input type="checkbox" id="dark-mode-toggle"> Enable Dark Mode
                    </label>
                </div>
            </div>

            <!-- Security Settings -->
            <div class="settings-section">
                <h3>Security</h3>
                <a href="{% url 'password-reset' request.user %}" class="btn save-btn">Update Password</a>
                
            </div>

            <!-- Account Settings -->
            <div class="settings-section">
                <h3>Account</h3>
                <div class="form-group" style="display: flex; justify-content: space-between; align-items: center; gap:2px">
                    <button class="btn deactivate-btn" style="background-color: #ff1f2a;">Deactivate Account</button>
                    <button class="btn delete-btn" style="background-color: #ff1f2a;">Delete Account</button>

                </div>
                
                <div class="form-group">
                </div>
                
            </div>
        </div>
    </section>

</main>
{% endblock %}


{% block footer %}

{% endblock %}
