{% extends 'store/base.html' %}
{% load static %}
{% block title %}Register {% endblock %}
{% block forms %}<link rel="stylesheet" href="{% static 'assets/css/forms.css' %}">{% endblock %}

{% block dashboard %} {% endblock %}
{% block profile %} {% endblock %}
{% block cart %} {% endblock %}
{% block shop %} {% endblock %}

{% block content %}
<br><br><br><br>
<div class="auth-container">
    <!-- Register Form -->
    <div class="auth-box">
      <h2>Register</h2>
     
        <button class="google-btn">Register with Google</button>
        <div class="separator">or</div>
      <form action="{% url 'register' %}" method="post">
       {% csrf_token %}
        
        <div class="form-group">
          {% if messages %}
            {% for message in messages %}
          <label for="login-email" style="color: red; text-align: center;">{{message}}</label>
          {% endfor %}
          {% endif %}
        </div>
          <div class="form-group">
          <label for="register-name">Username</label>
          <input type="text" name="username" id="register-name" placeholder="Enter your username" required>
        </div>
        <div class="form-group">
          <label for="register-email">Email Address</label>
          <input type="email" name="email" id="register-email" placeholder="Enter your email" required>
        </div>
        <div class="form-group">
          <label for="register-password">Password</label>
          <input type="password" name="password" id="register-password" placeholder="Create a password" required>
        </div>
        <div class="form-group">
          <label for="register-password">Password re-peat</label>
          <input type="password" name="password2" id="register-password" placeholder="Password re-peat" required>
        </div>

        <button type="submit" class="btn">Register</button>
      </form>
      <p class="switch-link">Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </div>

  </div>
{% endblock %}


{% block footer %}

{% endblock %}
