{% extends 'dashboard/base.html' %}

{% load static %}
{% block title %}New Category {% endblock %}


{% block content %}



<main class="main-content">
    <section class="settings">
        <div class="settings-container card">
            {% for message in messages %}
            <div class="msg" style="background-color: rgb(119, 34, 119); color: rgb(237, 254, 255); padding: 4px; min-width: 100px;">
                <p>{{message}}</p>
            </div>
            {% endfor %}
            <div class="header">
              <h2>Add Category</h2>
              <div class="actions">
                <a href="{% url 'categories' %}" class="btn add-user " id="searchbtn">Categories</a>
                <a href="{% url 'download' %}" class="btn add-user" >Dashboard</a>
              </div>
            </div>
            <form action="{% url 'new-category' %}" method="post">
                {% csrf_token %}
                <div class="form-group" style="width: 80%; padding: 10px;">
                    {{form.as_p}}
                </div>
                <div class="cta">
                    <input type="submit" value="Add Category" id="" class="btn add-product">
                <a href="{% url 'categories' %}" class="btn add-user " id="searchbtn">Categories</a>

                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}



{% block footer %}
{% endblock %}