{% extends 'dashboard/base.html' %}

{% load static %}
{% block title %}Dashboard {% endblock %}


{% block content %}



<main class="main-content">
    <form action="{% url 'edit_product' product.id %}" method="post" enctype="multipart/form-data" style="margin-top: 4rem;">
        {% csrf_token %}
        <div class="form-group" style="width: 80%; padding: 10px;">
            {{edit_form.as_p}}
        </div>
        <div class="form-group">
            <input type="submit" value="Update Product" id="" class="btn">
        </div>
    </form>


</main>
{% endblock %}



{% block footer %}
{% endblock %}