{% extends 'dashboard/base.html' %}

{% load static %}
{% block title %}Edit Category {% endblock %}


{% block content %}



<main class="main-content">
    <section class="settings">
        <div class="settings-container card" style="max-width: 100%;">
            {% for message in messages %}
            <div class="msg" style="background-color: rgb(119, 34, 119); color: rgb(237, 254, 255);min-width: 100px; border-radius: 5px;">
                <p>{{message}}</p>
            </div>
            {% endfor %}
            <form action="{% url 'edit-category' category.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group" style="width: 80%; padding: 10px;">
                    {{edit_form.as_p}}
                </div>
                <div class="form-group">
                    <input type="submit" value="Update category" id="" class="btn add-product">
                </div>
            </form>

            <!-- <script>
        $(document).on('click', '.add-product', function(e) {
            e.preventDefault();
            window.location.href: "{% url 'create_product' %}";
        })
    </script> -->
        </div>
    </section>
</main>
{% endblock %}



{% block footer %}
{% endblock %}