{% extends 'dashboard/base.html' %}

{% load static %}
{% block title %}Dashboard {% endblock %}


{% block content %}



<main class="main-content">
    <header class="main-header">
        <h1>Edit Product</h1>
        <p>Here's a summary of your platform's performance.</p>
    </header>


    <form action="{% url 'create_product' %}" method="post">
        {% csrf_token %}
        <div class="form-group" style="width: 80%; padding: 10px;">
            {{edit_form.as_p}}
        </div>
        <div class="form-group">
            <input type="submit" value="Update Product" id="" class="btn">
        </div>
    </form>
    

</main>
{% endblock %}



{% block footer %}
{% endblock %}