{% extends 'dashboard/base.html' %}

{% load static %}
{% block title %}Dashboard {% endblock %}


{% block content %}



<main class="main-content">
    <section class="settings">
        <div class="settings-container card" style="max-width: 100%;">
            {% for message in messages %}
            <div class="msg" style="background-color: rgb(119, 34, 119); color: rgb(237, 254, 255);min-width: 100px; border-radius: 5px;">
                <p>{{message}}</p>
            </div>
            {% endfor %}
            <h2>Product - {{product}}</h2>
            <form action="{% url 'product' product.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group" style="width: 80%; padding: 10px;">
                    {{edit_form.as_p}}
                </div>
                <div class="form-group">
                    <input type="submit" value="Update Product" id="" class="btn">
                </div>
            </form>
        </div>
    </section>

</main>
{% endblock %}



{% block footer %}
{% endblock %}