{% extends 'dashboard/base.html' %}

{% load static %}
{% block title %}Dashboard {% endblock %}


{% block content %}

<!-- Main Content -->
<main class="main-content">
  

  <!-- Analytics Section -->
  <section class="analytics" style="margin-top: 4rem;">
    <div class="card">
      <h3>Total Users</h3>
      <div style="display: flex;  flex-direction: row; gap: 5px;">
        <img src="{% static 'assets/images/analysis.png' %}" alt="" >
        <p>{{users.count}}M+</p>
      </div>

    </div>
    <div class="card">
      <h3>Total Orders</h3>
      <div style="display: flex;  flex-direction: row; gap: 5px;">
        <img src="{% static 'assets/images/data-analyst.png' %}" alt="" style="background-color: #414;">
      <p>{{orders.count}}</p>
      </div>
    </div>
    <div class="card">
      
      <h3>Revenue</h3>
      <div style="display: flex;  flex-direction: row; gap: 5px;">
      <img src="{% static 'assets/images/analysis.png' %}" alt="" >
      <p>&#8358;89,234</p>
      </div>
    </div>
  </section>
  <section class="analytics">
    <div class="card">
      <h3>Pending Orders</h3>
      <div style="display: flex;  flex-direction: row; gap: 5px;">
        <img src="{% static 'assets/images/data-analyst.png' %}" alt="" style="background-color: #414;">
      <p>{% if orders.status %} {{orders.count}} {% endif%}</p>
      </div>
    </div>
    <div class="card">
      <h3>Processing Orders</h3>
      <div style="display: flex;  flex-direction: row; gap: 5px;">
        <img src="{% static 'assets/images/analysis.png' %}" alt="">
      <p>{{orders.count}}</p>
      </div>
    </div>

    <div class="card">
      <h3>Revenue</h3>
      <div style="display: flex;  flex-direction: row; gap: 5px;">
        <img src="{% static 'assets/images/data-analyst.png' %}" alt="" style="background-color: #414;">
      <p>$89,234</p>
      </div>
    </div>
  </section>
  <!-- Chart Section -->
  <section class="charts">
    <div class="chart-container card">
      <canvas id="salesChart"></canvas>
    </div>
    <div class="chart-container card">
      <canvas id="usersChart"></canvas>
    </div>
  </section>
</main>

<script src="{% static 'assets/js/dashboard.js' %}"></script>

{% endblock %}





{% block footer %}
{% endblock %}