{% extends 'dashboard/base.html' %}

{% load static %}
{% block title %}Edit order {% endblock %}


{% block content %}
<main class="main-content" style="max-width: 50%; ">

  <section class="settings">
    <div class="settings-container card" style="max-width: 100%;">
      <section class="orders">
        <h2>Order ~ ID:{{order.id}}</h2>
        {% for message in messages %}
        <div class="msg"
          style="background-color: rgb(119, 34, 119); color: rgb(237, 254, 255);min-width: 100px; border-radius: 5px; padding: 5px 10px;">
          <p>{{message}}</p>
        </div>
        {% endfor %}
        <form action="{% url 'order' order.id %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <div class="input" style="margin-bottom: 5px;">{{order}}</div>
            <div class="input" style="margin-bottom: 5px;"><strong>Reference:</strong> {{order.reference}}</div>
            <div class="input" style="margin-bottom: 5px;"><strong>Full Name:</strong> {{order.full_name}}</div>
            <div class="input" style="margin-bottom: 5px;"><strong>Email:</strong> {{order.email}}</div>
            <div class="input" style="margin-bottom: 5px;"><strong>Shipping Address:</strong> {{order.shipping_address}}
            </div>
            <div class="input" style="margin-bottom: 5px;"><strong>Amount Paid:</strong> &#8358;{{order.amount_paid}}
            </div>

            <div class="input" style="margin-bottom: 5px;"><strong>Status:</strong> {{order.status}}</div>
            <div class="input" style="margin-bottom: 5px;"><strong>Date Ordered:</strong> {{order.date_ordered}}</div>
            <div class="input" style="margin-bottom: 5px;"><strong>Date Update:</strong> {{order.updated_at}}</div>
            {{order_form.as_p}}
            <div class="cta">
              <button type="submit" class="btn view">Update Order</button>
              <a href="{% url 'orders' %}" class="btn view">All Orders</a>
            </div>

          </div>
        </form>
      </section>
      <section class="orders">
        <h2>Order Items</h2>
        <form action="" method="post">
          <div class="form-group">
            {% if order_items %}
            {% for item in order_items %}
            <h2>Item</h2>
            <div class="input" style="margin-bottom: 5px;">{{item.order}}</div>
            <div class="input" style="margin-bottom: 5px;">{{item.product}}</div>
            <div class="input" style="margin-bottom: 5px;">{{item.quantity}}</div>
            <div class="input" style="margin-bottom: 5px;">&#8358;{{item.price}}</div>
            {% endfor %}
            {% else %}
            <div class="input" style="margin-bottom: 5px;">No Item Found</div>
            {% endif %}
          </div>
          <div style="display: flex; gap:5px">
            <a href="{% url 'delete-order' order.id%}" class="btn delete">Delete Order</a>
          </div>

        </form>
      </section>
    </div>
  </section>
</main>
{% endblock %}