{% extends 'dashboard/base.html' %}

{% block title %}Password Reset {% endblock %}

{% block content %}
<main class="main-content" style="max-width: 50%; ">

    <section class="settings">
        <div class="settings-container card" style="max-width: 100%;">
            <section class="orders">
                <h2>Password Reset ~ {{user}}</h2>
                {% for message in messages %}
                <div class="msg"
                    style="background-color: rgb(119, 34, 119); color: rgb(237, 254, 255);min-width: 100px; border-radius: 5px; padding: 5px 10px; margin-bottom: 5px;">
                    <p>{{message}}</p>
                </div>
                {% endfor %}

                        <form action="{% url 'password-reset' user %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{form.as_p}}
                                {{form.label}}
                            </div>
                            <button type="submit" class="btn save-btn">Update Password</button>
                        </form>
                        <p class="switch-link"> <a href="#register">Back</a></p>
                    </div>
                </div>
                {% endblock %}


                {% block footer %}

                {% endblock %}