{% extends 'dashboard/base.html' %}

{% load static %}
{% block title %}Report {% endblock %}


{% block content %}


<main class="main-content">
   
  
    <section class="reports" style="margin-top: 4rem;">
        <h2>Reports</h2>
        <div class="chart-container card">
          <canvas id="salesReportChart"></canvas>
        </div>
       
        <div class="chart-container card">
          <canvas id="userActivityChart"></canvas>
        </div>
        
      </section>
      <section class="charts">
        <div class="chart-container card">
            <canvas id="usersChartFirstHalf"></canvas>
        </div>
        <div class="chart-container card">
            <canvas id="usersChartSecondHalf"></canvas>
        </div>
    
  </main>
  <script src="{% static 'assets/js/dashboard.js' %}"></script>
{% endblock %}
