{% extends 'dashboard/base.html' %}

{% load static %}
{% block title %}Dashboard {% endblock %}


{% block content %}
<main class="main-content">

    <section class="settings">
        <div class="settings-container card" style="max-width: 100%;">
            <h2>Settings</h2>

            <!-- Profile Settings -->
            <div class="settings-section">
                <h3>Profile</h3>
                <form>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" placeholder="Enter your username">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <!-- <label for="profile-pic">Profile Picture</label> -->
                        <!-- <img src="../static/assets/images/latest.jpg" alt="Profile Picture" class="profile-pic"> -->

                        <div class="file-input-container">
                            <label for="file-upload">Upload Profile Picture</label>
                            <input type="file" id="file-upload" name="file-upload" />
                        </div>

                    </div>
                    <button type="submit" class="btn save-btn">Save Changes</button>
                </form>
            </div>

            <!-- Theme Settings -->
            <div class="settings-section">
                <h3>Theme</h3>
                <div class="form-group">
                    <label class="inline-label">
                        <input type="checkbox" id="dark-mode-toggle"> Enable Dark Mode
                    </label>
                </div>
            </div>

            <!-- Security Settings -->
            <div class="settings-section">
                <h3>Security</h3>
                <form>
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" id="password" placeholder="Enter a new password">
                    </div>
                    <button type="submit" class="btn save-btn">Update Password</button>
                </form>
            </div>

            <!-- Account Settings -->
            <div class="settings-section">
                <h3>Account</h3>
                <button class="btn deactivate-btn">Deactivate Account</button>
                <button class="btn delete-btn">Delete Account</button>
            </div>
        </div>
    </section>

</main>

{% endblock %}