{% extends 'dashboard/base.html' %}

{% load static %}
{% block title %}Users {% endblock %}


{% block content %}

<!-- Main Content -->
<main class="main-content">
    

    <section class="users">
        <div class="header">
          <h2>Users</h2>
          <div class="actions">
            <input type="text" id="searchUsers" placeholder="Search by name or email">
            <button class="btn add-user">Add New User</button>
            <button class="btn add-user">Download</button>
          </div>
        </div>
      
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users reversed %}
            <tr>
              <td>{{user.id}}</td>
              <td>{{user}}</td>
              <td>{{user.email}}</td>
              <td>{% if user.is_staff %}Admin {% else %} User {% endif %}</td>
              {% if user.is_active %}
              <td><span class="status active">Active</span></td>
              {% else %} 
              <td><span class="status inactive">Inactive</span></td>
              {% endif %}
              <td>
                <button class="btn edit">Edit</button>
                <a href="{% url 'delete_user' user.id %}" class="btn delete">Delete</a>
                <a  href="{% url 'de-activate-user' user.id %}" class="btn deactivate">Deactivate</a>
              </td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
        <div class="pagination">
            <button class="btn">Previous</button>
            <button class="btn">1</button>
            <button class="btn">2</button>
            <button class="btn">3</button>
            <button class="btn">Next</button>
          </div>
          
      </section>
      
      
      
  </main>

  {% endblock %}