{% extends 'dashboard/base.html' %}

{% load static %}
{% block title %}Users {% endblock %}


{% block content %}

<!-- Main Content -->
<main class="main-content">
    
  <section class="settings">
    <div class="settings-container card" style="max-width: 100%;">
    <section class="users">
        <div class="header">
          <h2>Users</h2>
          <div class="actions">
            <input type="text" id="searchUsers" class="search-input" placeholder="Search by name or email">
            <button class="btn add-user" id="new-user">Add New User</button>
            <a href="{% url 'download_users_excel' %}" class="btn add-user" >Download</a>
          </div>
        </div>
      <script>
        const newUserbtn = document.getElementById('new-user')
        newUserbtn.addEventListener('click', () => {
          window.location.href = "{% url 'new_user' %}";
        })

        const downloadBtn = document.getElementById('download-excel')
        newUserbtn.addEventListener('click', () => {
          window.location.href = "{% url 'download_users_excel' %}";
        })
      </script>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users reversed %}
            <tr>
              <td>{{user.id}}</td>
              <td>{{user}}</td>
              <td>{{user.email}}</td>
              <td>{% if user.is_staff %}Admin {% else %} User {% endif %}</td>
              {% if user.is_active %}
              <td><span class="status active">Active</span></td>
              {% else %} 
              <td><span class="status inactive">Inactive</span></td>
              {% endif %}
              <td style="display: flex; gap: 5px;">
                <button class="btn edit">Edit</button>
                <a href="{% url 'delete_user' user.id %}" class="btn delete">Delete</a>
                
                {% if user.is_active %}
                <form action="{% url 'deactivate-user' user.id %}" method="post">
                  {% csrf_token %}
                <button type="submit" class="btn deactivate">Deactivate</button>
              </form>
              
              {% else %}
              <form action="{% url 'activate-user' user.id %}" method="post">
                {% csrf_token %}
              <button type="submit" class="btn deactivate">Activate</button>
            </form>
              
            {% endif %}
              </td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
        <div class="pagination">
            <button class="btn">Previous</button>
            <button class="btn">1</button>
            <button class="btn">2</button>
            <button class="btn">3</button>
            <button class="btn">Next</button>
          </div>
          
      </section>
      
    </div>
  </section>
      
  </main>

  {% endblock %}