{% extends 'store/base.html' %}

{% load static %}
{% block title %}Shipping Info | {{request.user}} {% endblock %}

{% block dashboard %} {% endblock %}
{% block cart %} {% endblock %}
{% block shop %} {% endblock %}


{% block content %}
<main class="main-content">

    <section class="settings">
        <div class="settings-container">
            {% for message in messages %}
            <div style="padding: 6px; background-color: #8acbf7; color: #0464a3;">
                <p>{{message}}</p>
                
            </div>
            {% endfor %}
           
            <div class="settings-section">
                <h3>Shipping info</h3>
            <form action="{% url 'shipping_info' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    
                   {{ form.as_p }}
                  
                </div>
                
               
                <button type="submit" class="btn save-btn">Continue billing</button>
            </form>
        </div>
            
           
        </div>
    </section>

</main>
{% endblock %}


{% block footer %}

{% endblock %}
